version: '3'

services:
  certstream-server:
    image: 0rickyy0/certstream-server-go:latest
    container_name: certstream-server
    restart: unless-stopped
    ports:
      - "8181:8080"
    networks:
      - certstream-network

  certstream-monitor:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: certstream-monitor
    restart: unless-stopped
    volumes:
      - ./config:/app/config
      - ./data:/app/data
      - ./logs:/app/logs
    depends_on:
      - certstream-server
    networks:
      - certstream-network

networks:
  certstream-network:
    driver: bridge
